$font_color: #333333;
$off_white: #e5e5e5;
$top_height:300px;

body {
    color: $font_color;
    background-color:rgb(246,246,246);
}

#yui-history-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    visibility: hidden;
}


div.CenterDiv {
    margin-left: auto;
    margin-right: auto;
    width: 1270px;
    background-color:transparent;
}

.TopPane {
	height:$top_height;
	background:url('http://cdn.zendesk.com/images/helpcenter/launch/hc-launch-slide-2.png');
	
}


