$off_white: #e5e5e5;
$top_height:300px;
$light_gray:#e6e6e6;
$font_color:#333333;

body {
    color: $font_color;
    background-color:rgb(246,246,246);
}

#yui-history-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    visibility: hidden;
}


div.CenterDiv {
    margin-left: auto;
    margin-right: auto;
    width: 1270px;
    background-color:transparent;
}

.TopPane {
	height:$top_height;
	background:url('http://cdn.zendesk.com/images/helpcenter/launch/hc-launch-slide-2.png');
}

.intro_backing {
	padding: 50px;
}

.intro_title {
	color:$font_color;
	font-size:40px;
}

.red_cross {
	font-size:50px;
	color:red;
}

.panel_cross {
	font-size:30px;
	color:red;

}

.intro_question {
	color:$off_white;
	font-family: DNLTL;
	text-transform:none;
	font-size:30px;
}

.intro_aint {
	color: $off_white;
	font-size:15px;
}

.concourse_backdrop {
	background-color:$light_gray;
	
}

.panel_backing {
	background-color:white;
	border-radius:8px;
	padding:20px;
	margin-top: 40px;
	margin:25px;
	height:200px;
	width:400px;
}

.panel_title {
	font-size:23px;
	color:$font_color;
	padding-left:4px;
	padding-right:4px;
	
}

.panel_sep_1 {
	height:1px;
	width:350px;
	background-color:$font_color;
	margin:3px;
}

.panel_line_item {
	padding:3px;	
	font-size:16px;
}
	
	
	
	
