body {
  color: #333333;
  background-color: #f6f6f6; }

#yui-history-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  visibility: hidden; }

div.CenterDiv {
  margin-left: auto;
  margin-right: auto;
  width: 1270px;
  background-color: transparent; }

.TopPane {
  height: 300px;
  background: url("http://cdn.zendesk.com/images/helpcenter/launch/hc-launch-slide-2.png"); }

.intro_backing {
  padding: 50px; }

.intro_title {
  color: #333333;
  font-size: 40px; }

.red_cross {
  font-size: 50px;
  color: red; }

.intro_question {
  color: #e5e5e5;
  font-family: DNLTL;
  text-transform: none;
  font-size: 30px; }

.intro_aint {
  color: #e5e5e5;
  font-size: 15px; }

.concourse_backdrop {
  background-color: #e6e6e6;
  height: 400px; }

.panel_backing {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  margin: 25px;
  height: 200px;
  width: 400px; }
