body {
  color: #333333;
  background-color: #f6f6f6; }

#yui-history-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  visibility: hidden; }

div.CenterDiv {
  margin-left: auto;
  margin-right: auto;
  width: 1270px;
  background-color: transparent; }

.TopPane {
  height: 300px;
  background: url("http://cdn.zendesk.com/images/helpcenter/launch/hc-launch-slide-2.png"); }
